mysql-connector-python==9.0.0
numpy==1.26.4
pyvista==0.44.1
scikit-learn==1.5.0
scipy==1.14.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pyvistaqt==0.11.1
matplotlib==3.9.0
Cartopy==0.24.1
pandas==2.2.0
qtconsole==5.6.1
beautifulsoup4==4.12.3
requests==2.31.0
